<div class="play-container">
  <h3>
    Zasubskrybuj zmiany
  </h3>

  <h6>
    W przypadku wprowadzenia zmian otrzymasz powiadomienie na podanego poniżej maila.
  </h6>

  <form [formGroup]="subscribeChangeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Wybierz kategorię</label>
      <select class="custom-select" id="category" formControlName="category" (change)=onCategorySelected()>
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="group">Nr grupy/Nazwisko prowadzącego/Nr sali</label>
      <select class="custom-select" id="group" formControlName="categoryOptions" (change)="onGroupChange()">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="mail">Email</label>
      <input type="text" class="form-control" id="mail" formControlName="mail" required>
      <div *ngIf="errors">
        <p class="mat-error">Nieprawidłowy email</p>
      </div>
    </div>
    <button type="submit" [disabled]="!formValid" class="btn btn-primary btn-lg btn-block">Wyślij</button>
  </form>
</div>
