<div class="play-container">
  <h3>
    Zasubskrybuj zmiany
  </h3>

  <h6>
    W przypadku wprowadzenia zmian otrzymasz powiadomienie na podanego poniżej maila.
  </h6>

  <form>
    <select class="browser-default custom-select mb-2">
      <option selected>Plan dla studentów</option>
      <option value="1">Plan dla prowadzących</option>
      <option value="2">Dostępność sal</option>
    </select>

    <select class="browser-default custom-select mb-2">
      <option selected>Nr grupy/Nazwisko prowadzącego/Nr sali</option>
      <option value="1">Test</option>
      <option value="2">Test</option>
    </select>

    <div class="form-group">
      <label for="subjectNameInput">Mail</label>
      <input type="text" class="form-control" id="subjectNameInput">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Wyślij</button>
  </form>
</div>
