<div class="play-container">
  <h3>
    Zgłoś zmianę
  </h3>

  <form [formGroup]="suggestChangeForm" (ngSubmit)="update()">
    <div class="form-group">
      <label for="groupNameInput">Nazwa grupy</label>
      <input type="text" class="form-control" id="groupNameInput">
    </div>

    <select class="browser-default custom-select mb-2">
      <option selected>Dzień tygodnia</option>
      <option value="1">Poniedziałek</option>
      <option value="2">Wtorek</option>
      <option value="3">Środa</option>
      <option value="4">Czwartek</option>
      <option value="5">Piątek</option>
      <option value="6">Sobota</option>
      <option value="7">Niedziela</option>
    </select>

    <div class="form-group">
      <label for="subjectNameInput">Nazwa przedmiotu</label>
      <input type="text" class="form-control" id="subjectNameInput">
    </div>
    <div class="form-group">
      <label for="changeDescriptionInput">Opis proponowanej zmiany</label>
      <input type="text" class="form-control" id="changeDescriptionInput">
    </div>

    <select class="browser-default custom-select mt-auto mb-3">
      <option selected>Proponowany nowy termin</option>
      <option value="1">Poniedziałek</option>
      <option value="2">Wtorek</option>
      <option value="3">Środa</option>
      <option value="4">Czwartek</option>
      <option value="5">Piątek</option>
      <option value="6">Sobota</option>
      <option value="7">Niedziela</option>
    </select>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Wyślij</button>
  </form>
</div>
