<div class="play-container">
  <h3>Plan dostępności sal</h3>
  <mat-form-field>
    <mat-label>Sala</mat-label>
    <mat-select>
      <mat-option *ngFor="let room of rooms" [value]="room.name">
        {{room.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="float-right subscribe-container">
    <a routerLink="/subscribeChange">
      <button type="button" class="btn btn-warning subscribe-btn">
        <i class="fa fa-bell-o fa-2x" style="color: white;"></i>
      </button>
    </a>
  </div>
</div>

