<div class="play-container" xmlns:color="http://www.w3.org/1999/xhtml">
  <h3>Plan prowadzących</h3>
  <mat-form-field>
    <mat-label>Prowadzący</mat-label>
    <mat-select>
      <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer.id">
        {{lecturer.firstName}} {{lecturer.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="float-right subscribe-container">
    <a routerLink="/subscribeChange">
      <button type="button" class="btn btn-warning subscribe-btn">
        <i class="fa fa-bell-o fa-2x" style="color: white;"></i>
      </button>
    </a>
  </div>
</div>
