@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.play-container {
  width: 80%;
  margin: 0 auto;
}

.subscribe-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.subscribe-container > a {
  text-decoration: none;
  color: white;
}

.subscribe-btn {
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
}
